.threeWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.threeCanvasListModels {
  max-width: 100px;
}

.threeWrapper3Views {
  grid-template-columns: 1fr 1fr;
}

.threeCanvasPanelWrapper {
  /* wrapper panel */
}

.threeCanvasPanel {
  display: flex;
  padding: 0px;
  margin: 0px;
  background: rgb(90, 90, 90);
  min-height: 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.threeCanvasButton {
  padding: 3px;
}

.threeCanvasDel {
  color: var(--error-text);
}

.threeCanvasViews3Box {
  display: flex;
}

/* renderers */
.threeview_renderer {
  width: 100%;
}

.wrapperThreeViewCanvas {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  margin: 0px;
  padding: 0px;
  display: block;
  border-style: solid;
  border-width: 1px;
}

.lil-gui {
  --padding: 2px;
  --spacing: 2px;
  --widget-height: 14px;
  --font-size: 10px;
  --input-font-size: 10px;
  --widget-border-radius: 0px;
  --slider-input-min-width: 30px;
  --color-input-min-width: 30px;
  --width: 150px;
  --name-width: 30%;
  --background-color: none;
  --title-background-color: none;
  --text-color: #ebebeb;
  --title-text-color: #ebebeb;
  --widget-color: rgba(20, 20, 30, 0.6);
  --hover-color: rgba(30, 30, 50, 0.8);
  --focus-color: #595959;
  --number-color: #2cc9ff;
  --string-color: #a2db3c;
  --scrollbar-width: 3px;
}
